<mat-toolbar color="accent">
  Adivina el numero
</mat-toolbar>
<div class="content1">
  <mat-card>
    <mat-card-content>
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <!-- <div class="card-body"> -->
      <div class="content1">
        <p class="card-text center-horizontal">Se le dá un numero secreto que debe adivinar en la menor cantidad de
          intentos posible.</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="content1">
  <mat-card>
    <mat-card-content>
      <!--      <label>Ingrese el número secreto</label> -->
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Ingrese el número secreto</mat-label>
          <input type="number" [(ngModel)]="respuesta" matInput placeholder="Ingrese su numero">
          <!-- <input matInput placeholder="Placeholder"> -->
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Del 0 al 100</mat-hint>
        </mat-form-field>

      </div>
      <div *ngIf="esperando == false">
        <button class="btn btn-primary" (click)="NuevoNumero()" mat-raised-button color="primary">Nuevo Número
          Secreto</button>
      </div>
      <div *ngIf="esperando == true" class="width-100">
        <div>
          <div class="flex-h intentos">
            <div class="animated infinite bounce slower">1&nbsp;</div>
            <div class="animated infinite bounce slower delay-2s">2&nbsp;</div>
            <div class="animated infinite bounce slower delay-3s">3&nbsp;</div>
            <div>Esperando...</div>
          </div>
          <button class="btn btn-success" (click)="VerificarNumero()" mat-raised-button
            color="primary">Verificar</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>


<!-- </div> -->


<app-resultado [mensaje]=msgResultado [valido]=valido></app-resultado>