<mat-toolbar color="accent">
  Adivina la bandera
</mat-toolbar>
<div class="content1">
<mat-card>
  <mat-card-subtitle>
    Presione generar y luego elija el nombre del pais del que se mostrara la bandera
  </mat-card-subtitle>

 <!--  <mat-form-field>
    <input type="text" matInput placeholder="Ingrese El nombre del pais" [(ngModel)]="miRespuesta">
  </mat-form-field> -->
  
  <span style="width:10em; line-height: 10em" class="flag-icon flag-icon-{{randomCodigoISO | lowercase}}"></span>

  <mat-card-actions>
    <!-- <div> -->
 
    <!-- </div> -->
    <mat-card-content *ngIf="!esperando">
      <mat-radio-group [(ngModel)]="miRespuesta" name="rdOpciones">
        <mat-radio-button class="example-radio-button" *ngFor="let opcion of arrayOpciones" [value]="opcion">
          {{opcion}}
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <div *ngIf="esperando == true">
        <button (click)="proximo()" mat-raised-button color="accent">Generar</button>
      </div>
      <div *ngIf="esperando == false">
      <button (click)="compararRespuesta()" mat-raised-button color="primary">Aceptar</button>
    </div>
    </mat-card-actions>
    <h1 *ngIf="miRespuesta && esperando == true  && esCorrecta==true">Respuesta Correcta</h1>
    <h1 *ngIf="miRespuesta && esperando == true && esCorrecta==false">Respuesta InCorrecta</h1>
  </mat-card-actions>
</mat-card>
      <div class = "content1">
        <mat-card>
      <h2>Aciertos</h2>
    
      <button mat-fab color="accent" class="score">
          {{contadorCorrecto}}
      </button>
    
    
      <h2>Incorrectos</h2>
      <button mat-fab color="primary" class="score" >
          {{contadorFallo}}
      </button>
    </mat-card>
    </div>

<!--   <mat-card-footer>

  </mat-card-footer> -->

